.loading-gif {
    width: 600px;
    height: 600px;
}

@media (max-width: 850px) {
    .loading-gif {
        width: 400px;
        height: 400px;
    }

}

@media (max-width: 450px) {
    .loading-gif {
        width: 300px;
        height: 300px;
    }
}