.loginPageContainer{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../ProductDetailPage/DoubleshotDetailPageBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity:.8;
}

.container{
    background-color: rgb(255, 255, 255,.9);
    border: 4px #000 solid;
    padding-top: 16px;
    color: rgb(255, 255, 255);
}

