/*@font-face {*/
/*    font-family: 'CustomFont'; !* Name to use for the font *!*/
/*    src: url("blanka.otf") format('truetype'); !* Path to the font file *!*/
/*}*/

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(32px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-32px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.thankyou-logo {
    font-size: 5rem;
    letter-spacing: 1rem;
    width:100%;
    height:15%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: "CustomFont", sans-serif;
    animation: fadeDown 1s 0.5s backwards;
}

.thankyou-msg-container{
    height: 20%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:100%;
}

.thankyou-content-1{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    animation: fadeUp 1s 0.5s backwards;
    margin:0.2rem 0;

}

.thankyou-content-2{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    animation: fadeUp 1s 1s backwards;
}

.thankyou-content-3{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    animation: fadeUp 1s 1.5s backwards;
}


.thankyou-to-home{
    font-size: 1rem;
    font-weight: 500;
    background-color: black;
    border-radius: 0;
    color: white;
    border: 0;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    animation: fadeUp 1s 1.8s backwards;
}

.confirmed-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmed-item-name{
    display: flex;
    color:gray;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    margin: 1rem 0;
}


.mySwiper{
    width: 100%;
    height: 500px;
    animation: fadeUp 1s 1s backwards;
}

.mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 500px;
    box-shadow: none;
    opacity: 1;
}

.mySwiper .swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 900px){
    .thankyou-logo {
        font-size: 3.5rem;
        letter-spacing: 0.5rem;
    }

    .thankyou-content-1{
        font-size: 1.5rem;

    }

}

@media (max-width: 600px){
    .thankyou-logo {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    .thankyou-content-1{
        font-size: 1rem;
        font-weight: 500;
    }

    .thankyou-content-2 ,.thankyou-content-3, .thankyou-to-home{
        font-size: 0.8rem;
    }

    .confirmed-item-name{
        font-size: 0.8rem;
    }

    .mySwiper{
        height: 100%;
    }

    .mySwiper .swiper-slide {
        height: 100%;
    }

    .mySwiper .swiper-slide img{
        width:250px;
    }

    .confirmed-item-name{
        box-sizing: border-box;
        width:300px;
    }
}