.full-width-input {
    margin-bottom: 12px;
    display: block;
    border: none;
    padding: 5px;
    border-bottom: 1px gray solid;
    color: gray;
    width: 80%;
    box-shadow: none;
    outline: none;
}

.half-width-input {
    margin-bottom: 12px;
    display: block;
    border: none;
    padding: 5px;
    border-bottom: 1px gray solid;
    color: gray;
    width: 35%;
    box-shadow: none;
    outline: none;
}

.full-width-input :focus {
    border-bottom: 2px solid black; /* Customize the focus style */
}

.checkout-page-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-image: url('https://imgur.com/mKtt5pW.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.responsive-title{
    display: none;
}

@media(max-width: 850px){
    .hide-title{
        display: none;
    }
    .responsive-title{
        display: revert;
    }
}