.full-width-input {
    margin-bottom: 12px;
    display: block;
    border: none;
    padding: 5px;
    border-bottom: 1px gray solid;
    color: gray;
    width: 80%;
    box-shadow: none;
    outline: none;
}

.half-width-input {
    margin-bottom: 12px;
    display: block;
    border: none;
    padding: 5px;
    border-bottom: 1px gray solid;
    color: gray;
    width: 35%;
    box-shadow: none;
    outline: none;
}

.full-width-input :focus {
    border-bottom: 2px solid black; /* Customize the focus style */
}