.shopping-cart-page-container{
    height:100vh;

    margin: 0;
    padding: 0;
    background-image: url('https://imgur.com/mKtt5pW.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

