*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

a.nav-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the parent element's color */
}

body::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit (Chrome, Safari, etc.) */
}